@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 221 52% 16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 98% 53%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 90%;
    --muted-foreground: 221 52% 16%;
    --accent: 39 98% 53%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 221 52% 16%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 221 52% 16%;
    --secondary: 39 98% 53%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 10%;
    --muted-foreground: 221 52% 16%;
    --accent: 39 98% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 221 52% 16%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Cursor Styles */
  .cursor-dot,
  .cursor-outline {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
  }

  .cursor-dot {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    width: 5px;
    height: 5px;
    background-color: #FCA311;
    transition: opacity 0.3s ease-in-out;
  }

  .cursor-outline {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    width: 30px;
    height: 30px;
    border: 2px solid #FCA311;
    transition: all 0.2s ease-out;
  }

  .cursor-hidden {
    opacity: 0;
  }

  [data-clickable] {
    cursor: none;
  }

  [data-clickable]:hover ~ .cursor-outline {
    transform: translate(-50%, -50%) scale(1.5);
  }
}
